.has-text-1 {
  font-size: 1px;
}

.has-text-2 {
  font-size: 2px;
}

.has-text-3 {
  font-size: 3px;
}

.has-text-4 {
  font-size: 4px;
}

.has-text-5 {
  font-size: 5px;
}

.has-text-6 {
  font-size: 6px;
}

.has-text-7 {
  font-size: 7px;
}

.has-text-8 {
  font-size: 8px;
}

.has-text-9 {
  font-size: 9px;
}

.has-text-10 {
  font-size: 10px;
}

.has-text-11 {
  font-size: 11px;
}

.has-text-12 {
  font-size: 12px;
}

.has-text-13 {
  font-size: 13px;
}

.has-text-14 {
  font-size: 14px;
}

.has-text-15 {
  font-size: 15px;
}

.has-text-16 {
  font-size: 16px;
}

.has-text-17 {
  font-size: 17px;
}

.has-text-18 {
  font-size: 18px;
}

.has-text-19 {
  font-size: 19px;
}

.has-text-20 {
  font-size: 20px;
}

.has-text-21 {
  font-size: 21px;
}

.has-text-22 {
  font-size: 22px;
}

.has-text-23 {
  font-size: 23px;
}

.has-text-24 {
  font-size: 24px;
}

.has-text-25 {
  font-size: 25px;
}

.has-text-26 {
  font-size: 26px;
}

.has-text-27 {
  font-size: 27px;
}

.has-text-28 {
  font-size: 28px;
}

.has-text-29 {
  font-size: 29px;
}

.has-text-30 {
  font-size: 30px;
}

.has-text-31 {
  font-size: 31px;
}

.has-text-32 {
  font-size: 32px;
}

.has-text-33 {
  font-size: 33px;
}

.has-text-34 {
  font-size: 34px;
}

.has-text-35 {
  font-size: 35px;
}

.has-text-36 {
  font-size: 36px;
}

.has-text-37 {
  font-size: 37px;
}

.has-text-38 {
  font-size: 38px;
}

.has-text-39 {
  font-size: 39px;
}

.has-text-40 {
  font-size: 40px;
}

.has-text-41 {
  font-size: 41px;
}

.has-text-42 {
  font-size: 42px;
}

.has-text-43 {
  font-size: 43px;
}

.has-text-44 {
  font-size: 44px;
}

.has-text-45 {
  font-size: 45px;
}

.has-text-46 {
  font-size: 46px;
}

.has-text-47 {
  font-size: 47px;
}

.has-text-48 {
  font-size: 48px;
}

.has-text-49 {
  font-size: 49px;
}

.has-text-50 {
  font-size: 50px;
}

.has-text-51 {
  font-size: 51px;
}

.has-text-52 {
  font-size: 52px;
}

.has-text-53 {
  font-size: 53px;
}

.has-text-54 {
  font-size: 54px;
}

.has-text-55 {
  font-size: 55px;
}

.has-text-56 {
  font-size: 56px;
}

.has-text-57 {
  font-size: 57px;
}

.has-text-58 {
  font-size: 58px;
}

.has-text-59 {
  font-size: 59px;
}

.has-text-60 {
  font-size: 60px;
}

.has-text-61 {
  font-size: 61px;
}

.has-text-62 {
  font-size: 62px;
}

.has-text-63 {
  font-size: 63px;
}

.has-text-64 {
  font-size: 64px;
}

.has-text-65 {
  font-size: 65px;
}

.has-text-66 {
  font-size: 66px;
}

.has-text-67 {
  font-size: 67px;
}

.has-text-68 {
  font-size: 68px;
}

.has-text-69 {
  font-size: 69px;
}

.has-text-70 {
  font-size: 70px;
}

.has-text-71 {
  font-size: 71px;
}

.has-text-72 {
  font-size: 72px;
}

.has-text-73 {
  font-size: 73px;
}

.has-text-74 {
  font-size: 74px;
}

.has-text-75 {
  font-size: 75px;
}

.has-text-76 {
  font-size: 76px;
}

.has-text-77 {
  font-size: 77px;
}

.has-text-78 {
  font-size: 78px;
}

.has-text-79 {
  font-size: 79px;
}

.has-text-80 {
  font-size: 80px;
}

.has-text-81 {
  font-size: 81px;
}

.has-text-82 {
  font-size: 82px;
}

.has-text-83 {
  font-size: 83px;
}

.has-text-84 {
  font-size: 84px;
}

.has-text-85 {
  font-size: 85px;
}

.has-text-86 {
  font-size: 86px;
}

.has-text-87 {
  font-size: 87px;
}

.has-text-88 {
  font-size: 88px;
}

.has-text-89 {
  font-size: 89px;
}

.has-text-90 {
  font-size: 90px;
}

.has-text-91 {
  font-size: 91px;
}

.has-text-92 {
  font-size: 92px;
}

.has-text-93 {
  font-size: 93px;
}

.has-text-94 {
  font-size: 94px;
}

.has-text-95 {
  font-size: 95px;
}

.has-text-96 {
  font-size: 96px;
}

.has-text-97 {
  font-size: 97px;
}

.has-text-98 {
  font-size: 98px;
}

.has-text-99 {
  font-size: 99px;
}

.has-text-100 {
  font-size: 100px;
}

.left-1 {
  margin-left: 1px !important;
}

.left-2 {
  margin-left: 2px !important;
}

.left-3 {
  margin-left: 3px !important;
}

.left-4 {
  margin-left: 4px !important;
}

.left-5 {
  margin-left: 5px !important;
}

.left-6 {
  margin-left: 6px !important;
}

.left-7 {
  margin-left: 7px !important;
}

.left-8 {
  margin-left: 8px !important;
}

.left-9 {
  margin-left: 9px !important;
}

.left-10 {
  margin-left: 10px !important;
}

.left-11 {
  margin-left: 11px !important;
}

.left-12 {
  margin-left: 12px !important;
}

.left-13 {
  margin-left: 13px !important;
}

.left-14 {
  margin-left: 14px !important;
}

.left-15 {
  margin-left: 15px !important;
}

.left-16 {
  margin-left: 16px !important;
}

.left-17 {
  margin-left: 17px !important;
}

.left-18 {
  margin-left: 18px !important;
}

.left-19 {
  margin-left: 19px !important;
}

.left-20 {
  margin-left: 20px !important;
}

.left-21 {
  margin-left: 21px !important;
}

.left-22 {
  margin-left: 22px !important;
}

.left-23 {
  margin-left: 23px !important;
}

.left-24 {
  margin-left: 24px !important;
}

.left-25 {
  margin-left: 25px !important;
}

.left-26 {
  margin-left: 26px !important;
}

.left-27 {
  margin-left: 27px !important;
}

.left-28 {
  margin-left: 28px !important;
}

.left-29 {
  margin-left: 29px !important;
}

.left-30 {
  margin-left: 30px !important;
}

.left-31 {
  margin-left: 31px !important;
}

.left-32 {
  margin-left: 32px !important;
}

.left-33 {
  margin-left: 33px !important;
}

.left-34 {
  margin-left: 34px !important;
}

.left-35 {
  margin-left: 35px !important;
}

.left-36 {
  margin-left: 36px !important;
}

.left-37 {
  margin-left: 37px !important;
}

.left-38 {
  margin-left: 38px !important;
}

.left-39 {
  margin-left: 39px !important;
}

.left-40 {
  margin-left: 40px !important;
}

.left-41 {
  margin-left: 41px !important;
}

.left-42 {
  margin-left: 42px !important;
}

.left-43 {
  margin-left: 43px !important;
}

.left-44 {
  margin-left: 44px !important;
}

.left-45 {
  margin-left: 45px !important;
}

.left-46 {
  margin-left: 46px !important;
}

.left-47 {
  margin-left: 47px !important;
}

.left-48 {
  margin-left: 48px !important;
}

.left-49 {
  margin-left: 49px !important;
}

.left-50 {
  margin-left: 50px !important;
}

.left-51 {
  margin-left: 51px !important;
}

.left-52 {
  margin-left: 52px !important;
}

.left-53 {
  margin-left: 53px !important;
}

.left-54 {
  margin-left: 54px !important;
}

.left-55 {
  margin-left: 55px !important;
}

.left-56 {
  margin-left: 56px !important;
}

.left-57 {
  margin-left: 57px !important;
}

.left-58 {
  margin-left: 58px !important;
}

.left-59 {
  margin-left: 59px !important;
}

.left-60 {
  margin-left: 60px !important;
}

.left-61 {
  margin-left: 61px !important;
}

.left-62 {
  margin-left: 62px !important;
}

.left-63 {
  margin-left: 63px !important;
}

.left-64 {
  margin-left: 64px !important;
}

.left-65 {
  margin-left: 65px !important;
}

.left-66 {
  margin-left: 66px !important;
}

.left-67 {
  margin-left: 67px !important;
}

.left-68 {
  margin-left: 68px !important;
}

.left-69 {
  margin-left: 69px !important;
}

.left-70 {
  margin-left: 70px !important;
}

.left-71 {
  margin-left: 71px !important;
}

.left-72 {
  margin-left: 72px !important;
}

.left-73 {
  margin-left: 73px !important;
}

.left-74 {
  margin-left: 74px !important;
}

.left-75 {
  margin-left: 75px !important;
}

.left-76 {
  margin-left: 76px !important;
}

.left-77 {
  margin-left: 77px !important;
}

.left-78 {
  margin-left: 78px !important;
}

.left-79 {
  margin-left: 79px !important;
}

.left-80 {
  margin-left: 80px !important;
}

.left-81 {
  margin-left: 81px !important;
}

.left-82 {
  margin-left: 82px !important;
}

.left-83 {
  margin-left: 83px !important;
}

.left-84 {
  margin-left: 84px !important;
}

.left-85 {
  margin-left: 85px !important;
}

.left-86 {
  margin-left: 86px !important;
}

.left-87 {
  margin-left: 87px !important;
}

.left-88 {
  margin-left: 88px !important;
}

.left-89 {
  margin-left: 89px !important;
}

.left-90 {
  margin-left: 90px !important;
}

.left-91 {
  margin-left: 91px !important;
}

.left-92 {
  margin-left: 92px !important;
}

.left-93 {
  margin-left: 93px !important;
}

.left-94 {
  margin-left: 94px !important;
}

.left-95 {
  margin-left: 95px !important;
}

.left-96 {
  margin-left: 96px !important;
}

.left-97 {
  margin-left: 97px !important;
}

.left-98 {
  margin-left: 98px !important;
}

.left-99 {
  margin-left: 99px !important;
}

.left-100 {
  margin-left: 100px !important;
}

.right-1 {
  margin-right: 1px !important;
}

.right-2 {
  margin-right: 2px !important;
}

.right-3 {
  margin-right: 3px !important;
}

.right-4 {
  margin-right: 4px !important;
}

.right-5 {
  margin-right: 5px !important;
}

.right-6 {
  margin-right: 6px !important;
}

.right-7 {
  margin-right: 7px !important;
}

.right-8 {
  margin-right: 8px !important;
}

.right-9 {
  margin-right: 9px !important;
}

.right-10 {
  margin-right: 10px !important;
}

.right-11 {
  margin-right: 11px !important;
}

.right-12 {
  margin-right: 12px !important;
}

.right-13 {
  margin-right: 13px !important;
}

.right-14 {
  margin-right: 14px !important;
}

.right-15 {
  margin-right: 15px !important;
}

.right-16 {
  margin-right: 16px !important;
}

.right-17 {
  margin-right: 17px !important;
}

.right-18 {
  margin-right: 18px !important;
}

.right-19 {
  margin-right: 19px !important;
}

.right-20 {
  margin-right: 20px !important;
}

.right-21 {
  margin-right: 21px !important;
}

.right-22 {
  margin-right: 22px !important;
}

.right-23 {
  margin-right: 23px !important;
}

.right-24 {
  margin-right: 24px !important;
}

.right-25 {
  margin-right: 25px !important;
}

.right-26 {
  margin-right: 26px !important;
}

.right-27 {
  margin-right: 27px !important;
}

.right-28 {
  margin-right: 28px !important;
}

.right-29 {
  margin-right: 29px !important;
}

.right-30 {
  margin-right: 30px !important;
}

.right-31 {
  margin-right: 31px !important;
}

.right-32 {
  margin-right: 32px !important;
}

.right-33 {
  margin-right: 33px !important;
}

.right-34 {
  margin-right: 34px !important;
}

.right-35 {
  margin-right: 35px !important;
}

.right-36 {
  margin-right: 36px !important;
}

.right-37 {
  margin-right: 37px !important;
}

.right-38 {
  margin-right: 38px !important;
}

.right-39 {
  margin-right: 39px !important;
}

.right-40 {
  margin-right: 40px !important;
}

.right-41 {
  margin-right: 41px !important;
}

.right-42 {
  margin-right: 42px !important;
}

.right-43 {
  margin-right: 43px !important;
}

.right-44 {
  margin-right: 44px !important;
}

.right-45 {
  margin-right: 45px !important;
}

.right-46 {
  margin-right: 46px !important;
}

.right-47 {
  margin-right: 47px !important;
}

.right-48 {
  margin-right: 48px !important;
}

.right-49 {
  margin-right: 49px !important;
}

.right-50 {
  margin-right: 50px !important;
}

.right-51 {
  margin-right: 51px !important;
}

.right-52 {
  margin-right: 52px !important;
}

.right-53 {
  margin-right: 53px !important;
}

.right-54 {
  margin-right: 54px !important;
}

.right-55 {
  margin-right: 55px !important;
}

.right-56 {
  margin-right: 56px !important;
}

.right-57 {
  margin-right: 57px !important;
}

.right-58 {
  margin-right: 58px !important;
}

.right-59 {
  margin-right: 59px !important;
}

.right-60 {
  margin-right: 60px !important;
}

.right-61 {
  margin-right: 61px !important;
}

.right-62 {
  margin-right: 62px !important;
}

.right-63 {
  margin-right: 63px !important;
}

.right-64 {
  margin-right: 64px !important;
}

.right-65 {
  margin-right: 65px !important;
}

.right-66 {
  margin-right: 66px !important;
}

.right-67 {
  margin-right: 67px !important;
}

.right-68 {
  margin-right: 68px !important;
}

.right-69 {
  margin-right: 69px !important;
}

.right-70 {
  margin-right: 70px !important;
}

.right-71 {
  margin-right: 71px !important;
}

.right-72 {
  margin-right: 72px !important;
}

.right-73 {
  margin-right: 73px !important;
}

.right-74 {
  margin-right: 74px !important;
}

.right-75 {
  margin-right: 75px !important;
}

.right-76 {
  margin-right: 76px !important;
}

.right-77 {
  margin-right: 77px !important;
}

.right-78 {
  margin-right: 78px !important;
}

.right-79 {
  margin-right: 79px !important;
}

.right-80 {
  margin-right: 80px !important;
}

.right-81 {
  margin-right: 81px !important;
}

.right-82 {
  margin-right: 82px !important;
}

.right-83 {
  margin-right: 83px !important;
}

.right-84 {
  margin-right: 84px !important;
}

.right-85 {
  margin-right: 85px !important;
}

.right-86 {
  margin-right: 86px !important;
}

.right-87 {
  margin-right: 87px !important;
}

.right-88 {
  margin-right: 88px !important;
}

.right-89 {
  margin-right: 89px !important;
}

.right-90 {
  margin-right: 90px !important;
}

.right-91 {
  margin-right: 91px !important;
}

.right-92 {
  margin-right: 92px !important;
}

.right-93 {
  margin-right: 93px !important;
}

.right-94 {
  margin-right: 94px !important;
}

.right-95 {
  margin-right: 95px !important;
}

.right-96 {
  margin-right: 96px !important;
}

.right-97 {
  margin-right: 97px !important;
}

.right-98 {
  margin-right: 98px !important;
}

.right-99 {
  margin-right: 99px !important;
}

.right-100 {
  margin-right: 100px !important;
}

.bottom-1 {
  margin-bottom: 1px !important;
}

.bottom-2 {
  margin-bottom: 2px !important;
}

.bottom-3 {
  margin-bottom: 3px !important;
}

.bottom-4 {
  margin-bottom: 4px !important;
}

.bottom-5 {
  margin-bottom: 5px !important;
}

.bottom-6 {
  margin-bottom: 6px !important;
}

.bottom-7 {
  margin-bottom: 7px !important;
}

.bottom-8 {
  margin-bottom: 8px !important;
}

.bottom-9 {
  margin-bottom: 9px !important;
}

.bottom-10 {
  margin-bottom: 10px !important;
}

.bottom-11 {
  margin-bottom: 11px !important;
}

.bottom-12 {
  margin-bottom: 12px !important;
}

.bottom-13 {
  margin-bottom: 13px !important;
}

.bottom-14 {
  margin-bottom: 14px !important;
}

.bottom-15 {
  margin-bottom: 15px !important;
}

.bottom-16 {
  margin-bottom: 16px !important;
}

.bottom-17 {
  margin-bottom: 17px !important;
}

.bottom-18 {
  margin-bottom: 18px !important;
}

.bottom-19 {
  margin-bottom: 19px !important;
}

.bottom-20 {
  margin-bottom: 20px !important;
}

.bottom-21 {
  margin-bottom: 21px !important;
}

.bottom-22 {
  margin-bottom: 22px !important;
}

.bottom-23 {
  margin-bottom: 23px !important;
}

.bottom-24 {
  margin-bottom: 24px !important;
}

.bottom-25 {
  margin-bottom: 25px !important;
}

.bottom-26 {
  margin-bottom: 26px !important;
}

.bottom-27 {
  margin-bottom: 27px !important;
}

.bottom-28 {
  margin-bottom: 28px !important;
}

.bottom-29 {
  margin-bottom: 29px !important;
}

.bottom-30 {
  margin-bottom: 30px !important;
}

.bottom-31 {
  margin-bottom: 31px !important;
}

.bottom-32 {
  margin-bottom: 32px !important;
}

.bottom-33 {
  margin-bottom: 33px !important;
}

.bottom-34 {
  margin-bottom: 34px !important;
}

.bottom-35 {
  margin-bottom: 35px !important;
}

.bottom-36 {
  margin-bottom: 36px !important;
}

.bottom-37 {
  margin-bottom: 37px !important;
}

.bottom-38 {
  margin-bottom: 38px !important;
}

.bottom-39 {
  margin-bottom: 39px !important;
}

.bottom-40 {
  margin-bottom: 40px !important;
}

.bottom-41 {
  margin-bottom: 41px !important;
}

.bottom-42 {
  margin-bottom: 42px !important;
}

.bottom-43 {
  margin-bottom: 43px !important;
}

.bottom-44 {
  margin-bottom: 44px !important;
}

.bottom-45 {
  margin-bottom: 45px !important;
}

.bottom-46 {
  margin-bottom: 46px !important;
}

.bottom-47 {
  margin-bottom: 47px !important;
}

.bottom-48 {
  margin-bottom: 48px !important;
}

.bottom-49 {
  margin-bottom: 49px !important;
}

.bottom-50 {
  margin-bottom: 50px !important;
}

.bottom-51 {
  margin-bottom: 51px !important;
}

.bottom-52 {
  margin-bottom: 52px !important;
}

.bottom-53 {
  margin-bottom: 53px !important;
}

.bottom-54 {
  margin-bottom: 54px !important;
}

.bottom-55 {
  margin-bottom: 55px !important;
}

.bottom-56 {
  margin-bottom: 56px !important;
}

.bottom-57 {
  margin-bottom: 57px !important;
}

.bottom-58 {
  margin-bottom: 58px !important;
}

.bottom-59 {
  margin-bottom: 59px !important;
}

.bottom-60 {
  margin-bottom: 60px !important;
}

.bottom-61 {
  margin-bottom: 61px !important;
}

.bottom-62 {
  margin-bottom: 62px !important;
}

.bottom-63 {
  margin-bottom: 63px !important;
}

.bottom-64 {
  margin-bottom: 64px !important;
}

.bottom-65 {
  margin-bottom: 65px !important;
}

.bottom-66 {
  margin-bottom: 66px !important;
}

.bottom-67 {
  margin-bottom: 67px !important;
}

.bottom-68 {
  margin-bottom: 68px !important;
}

.bottom-69 {
  margin-bottom: 69px !important;
}

.bottom-70 {
  margin-bottom: 70px !important;
}

.bottom-71 {
  margin-bottom: 71px !important;
}

.bottom-72 {
  margin-bottom: 72px !important;
}

.bottom-73 {
  margin-bottom: 73px !important;
}

.bottom-74 {
  margin-bottom: 74px !important;
}

.bottom-75 {
  margin-bottom: 75px !important;
}

.bottom-76 {
  margin-bottom: 76px !important;
}

.bottom-77 {
  margin-bottom: 77px !important;
}

.bottom-78 {
  margin-bottom: 78px !important;
}

.bottom-79 {
  margin-bottom: 79px !important;
}

.bottom-80 {
  margin-bottom: 80px !important;
}

.bottom-81 {
  margin-bottom: 81px !important;
}

.bottom-82 {
  margin-bottom: 82px !important;
}

.bottom-83 {
  margin-bottom: 83px !important;
}

.bottom-84 {
  margin-bottom: 84px !important;
}

.bottom-85 {
  margin-bottom: 85px !important;
}

.bottom-86 {
  margin-bottom: 86px !important;
}

.bottom-87 {
  margin-bottom: 87px !important;
}

.bottom-88 {
  margin-bottom: 88px !important;
}

.bottom-89 {
  margin-bottom: 89px !important;
}

.bottom-90 {
  margin-bottom: 90px !important;
}

.bottom-91 {
  margin-bottom: 91px !important;
}

.bottom-92 {
  margin-bottom: 92px !important;
}

.bottom-93 {
  margin-bottom: 93px !important;
}

.bottom-94 {
  margin-bottom: 94px !important;
}

.bottom-95 {
  margin-bottom: 95px !important;
}

.bottom-96 {
  margin-bottom: 96px !important;
}

.bottom-97 {
  margin-bottom: 97px !important;
}

.bottom-98 {
  margin-bottom: 98px !important;
}

.bottom-99 {
  margin-bottom: 99px !important;
}

.bottom-100 {
  margin-bottom: 100px !important;
}

.top-1 {
  margin-top: 1px !important;
}

.top-2 {
  margin-top: 2px !important;
}

.top-3 {
  margin-top: 3px !important;
}

.top-4 {
  margin-top: 4px !important;
}

.top-5 {
  margin-top: 5px !important;
}

.top-6 {
  margin-top: 6px !important;
}

.top-7 {
  margin-top: 7px !important;
}

.top-8 {
  margin-top: 8px !important;
}

.top-9 {
  margin-top: 9px !important;
}

.top-10 {
  margin-top: 10px !important;
}

.top-11 {
  margin-top: 11px !important;
}

.top-12 {
  margin-top: 12px !important;
}

.top-13 {
  margin-top: 13px !important;
}

.top-14 {
  margin-top: 14px !important;
}

.top-15 {
  margin-top: 15px !important;
}

.top-16 {
  margin-top: 16px !important;
}

.top-17 {
  margin-top: 17px !important;
}

.top-18 {
  margin-top: 18px !important;
}

.top-19 {
  margin-top: 19px !important;
}

.top-20 {
  margin-top: 20px !important;
}

.top-21 {
  margin-top: 21px !important;
}

.top-22 {
  margin-top: 22px !important;
}

.top-23 {
  margin-top: 23px !important;
}

.top-24 {
  margin-top: 24px !important;
}

.top-25 {
  margin-top: 25px !important;
}

.top-26 {
  margin-top: 26px !important;
}

.top-27 {
  margin-top: 27px !important;
}

.top-28 {
  margin-top: 28px !important;
}

.top-29 {
  margin-top: 29px !important;
}

.top-30 {
  margin-top: 30px !important;
}

.top-31 {
  margin-top: 31px !important;
}

.top-32 {
  margin-top: 32px !important;
}

.top-33 {
  margin-top: 33px !important;
}

.top-34 {
  margin-top: 34px !important;
}

.top-35 {
  margin-top: 35px !important;
}

.top-36 {
  margin-top: 36px !important;
}

.top-37 {
  margin-top: 37px !important;
}

.top-38 {
  margin-top: 38px !important;
}

.top-39 {
  margin-top: 39px !important;
}

.top-40 {
  margin-top: 40px !important;
}

.top-41 {
  margin-top: 41px !important;
}

.top-42 {
  margin-top: 42px !important;
}

.top-43 {
  margin-top: 43px !important;
}

.top-44 {
  margin-top: 44px !important;
}

.top-45 {
  margin-top: 45px !important;
}

.top-46 {
  margin-top: 46px !important;
}

.top-47 {
  margin-top: 47px !important;
}

.top-48 {
  margin-top: 48px !important;
}

.top-49 {
  margin-top: 49px !important;
}

.top-50 {
  margin-top: 50px !important;
}

.top-51 {
  margin-top: 51px !important;
}

.top-52 {
  margin-top: 52px !important;
}

.top-53 {
  margin-top: 53px !important;
}

.top-54 {
  margin-top: 54px !important;
}

.top-55 {
  margin-top: 55px !important;
}

.top-56 {
  margin-top: 56px !important;
}

.top-57 {
  margin-top: 57px !important;
}

.top-58 {
  margin-top: 58px !important;
}

.top-59 {
  margin-top: 59px !important;
}

.top-60 {
  margin-top: 60px !important;
}

.top-61 {
  margin-top: 61px !important;
}

.top-62 {
  margin-top: 62px !important;
}

.top-63 {
  margin-top: 63px !important;
}

.top-64 {
  margin-top: 64px !important;
}

.top-65 {
  margin-top: 65px !important;
}

.top-66 {
  margin-top: 66px !important;
}

.top-67 {
  margin-top: 67px !important;
}

.top-68 {
  margin-top: 68px !important;
}

.top-69 {
  margin-top: 69px !important;
}

.top-70 {
  margin-top: 70px !important;
}

.top-71 {
  margin-top: 71px !important;
}

.top-72 {
  margin-top: 72px !important;
}

.top-73 {
  margin-top: 73px !important;
}

.top-74 {
  margin-top: 74px !important;
}

.top-75 {
  margin-top: 75px !important;
}

.top-76 {
  margin-top: 76px !important;
}

.top-77 {
  margin-top: 77px !important;
}

.top-78 {
  margin-top: 78px !important;
}

.top-79 {
  margin-top: 79px !important;
}

.top-80 {
  margin-top: 80px !important;
}

.top-81 {
  margin-top: 81px !important;
}

.top-82 {
  margin-top: 82px !important;
}

.top-83 {
  margin-top: 83px !important;
}

.top-84 {
  margin-top: 84px !important;
}

.top-85 {
  margin-top: 85px !important;
}

.top-86 {
  margin-top: 86px !important;
}

.top-87 {
  margin-top: 87px !important;
}

.top-88 {
  margin-top: 88px !important;
}

.top-89 {
  margin-top: 89px !important;
}

.top-90 {
  margin-top: 90px !important;
}

.top-91 {
  margin-top: 91px !important;
}

.top-92 {
  margin-top: 92px !important;
}

.top-93 {
  margin-top: 93px !important;
}

.top-94 {
  margin-top: 94px !important;
}

.top-95 {
  margin-top: 95px !important;
}

.top-96 {
  margin-top: 96px !important;
}

.top-97 {
  margin-top: 97px !important;
}

.top-98 {
  margin-top: 98px !important;
}

.top-99 {
  margin-top: 99px !important;
}

.top-100 {
  margin-top: 100px !important;
}

.margin-1 {
  margin: 1px !important;
}

.margin-2 {
  margin: 2px !important;
}

.margin-3 {
  margin: 3px !important;
}

.margin-4 {
  margin: 4px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-6 {
  margin: 6px !important;
}

.margin-7 {
  margin: 7px !important;
}

.margin-8 {
  margin: 8px !important;
}

.margin-9 {
  margin: 9px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-11 {
  margin: 11px !important;
}

.margin-12 {
  margin: 12px !important;
}

.margin-13 {
  margin: 13px !important;
}

.margin-14 {
  margin: 14px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-16 {
  margin: 16px !important;
}

.margin-17 {
  margin: 17px !important;
}

.margin-18 {
  margin: 18px !important;
}

.margin-19 {
  margin: 19px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-21 {
  margin: 21px !important;
}

.margin-22 {
  margin: 22px !important;
}

.margin-23 {
  margin: 23px !important;
}

.margin-24 {
  margin: 24px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-26 {
  margin: 26px !important;
}

.margin-27 {
  margin: 27px !important;
}

.margin-28 {
  margin: 28px !important;
}

.margin-29 {
  margin: 29px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-31 {
  margin: 31px !important;
}

.margin-32 {
  margin: 32px !important;
}

.margin-33 {
  margin: 33px !important;
}

.margin-34 {
  margin: 34px !important;
}

.margin-35 {
  margin: 35px !important;
}

.margin-36 {
  margin: 36px !important;
}

.margin-37 {
  margin: 37px !important;
}

.margin-38 {
  margin: 38px !important;
}

.margin-39 {
  margin: 39px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-41 {
  margin: 41px !important;
}

.margin-42 {
  margin: 42px !important;
}

.margin-43 {
  margin: 43px !important;
}

.margin-44 {
  margin: 44px !important;
}

.margin-45 {
  margin: 45px !important;
}

.margin-46 {
  margin: 46px !important;
}

.margin-47 {
  margin: 47px !important;
}

.margin-48 {
  margin: 48px !important;
}

.margin-49 {
  margin: 49px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-51 {
  margin: 51px !important;
}

.margin-52 {
  margin: 52px !important;
}

.margin-53 {
  margin: 53px !important;
}

.margin-54 {
  margin: 54px !important;
}

.margin-55 {
  margin: 55px !important;
}

.margin-56 {
  margin: 56px !important;
}

.margin-57 {
  margin: 57px !important;
}

.margin-58 {
  margin: 58px !important;
}

.margin-59 {
  margin: 59px !important;
}

.margin-60 {
  margin: 60px !important;
}

.margin-61 {
  margin: 61px !important;
}

.margin-62 {
  margin: 62px !important;
}

.margin-63 {
  margin: 63px !important;
}

.margin-64 {
  margin: 64px !important;
}

.margin-65 {
  margin: 65px !important;
}

.margin-66 {
  margin: 66px !important;
}

.margin-67 {
  margin: 67px !important;
}

.margin-68 {
  margin: 68px !important;
}

.margin-69 {
  margin: 69px !important;
}

.margin-70 {
  margin: 70px !important;
}

.margin-71 {
  margin: 71px !important;
}

.margin-72 {
  margin: 72px !important;
}

.margin-73 {
  margin: 73px !important;
}

.margin-74 {
  margin: 74px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-76 {
  margin: 76px !important;
}

.margin-77 {
  margin: 77px !important;
}

.margin-78 {
  margin: 78px !important;
}

.margin-79 {
  margin: 79px !important;
}

.margin-80 {
  margin: 80px !important;
}

.margin-81 {
  margin: 81px !important;
}

.margin-82 {
  margin: 82px !important;
}

.margin-83 {
  margin: 83px !important;
}

.margin-84 {
  margin: 84px !important;
}

.margin-85 {
  margin: 85px !important;
}

.margin-86 {
  margin: 86px !important;
}

.margin-87 {
  margin: 87px !important;
}

.margin-88 {
  margin: 88px !important;
}

.margin-89 {
  margin: 89px !important;
}

.margin-90 {
  margin: 90px !important;
}

.margin-91 {
  margin: 91px !important;
}

.margin-92 {
  margin: 92px !important;
}

.margin-93 {
  margin: 93px !important;
}

.margin-94 {
  margin: 94px !important;
}

.margin-95 {
  margin: 95px !important;
}

.margin-96 {
  margin: 96px !important;
}

.margin-97 {
  margin: 97px !important;
}

.margin-98 {
  margin: 98px !important;
}

.margin-99 {
  margin: 99px !important;
}

.margin-100 {
  margin: 100px !important;
}

.padding-1 {
  padding: 1px !important;
}

.padding-2 {
  padding: 2px !important;
}

.padding-3 {
  padding: 3px !important;
}

.padding-4 {
  padding: 4px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-6 {
  padding: 6px !important;
}

.padding-7 {
  padding: 7px !important;
}

.padding-8 {
  padding: 8px !important;
}

.padding-9 {
  padding: 9px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-11 {
  padding: 11px !important;
}

.padding-12 {
  padding: 12px !important;
}

.padding-13 {
  padding: 13px !important;
}

.padding-14 {
  padding: 14px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-16 {
  padding: 16px !important;
}

.padding-17 {
  padding: 17px !important;
}

.padding-18 {
  padding: 18px !important;
}

.padding-19 {
  padding: 19px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-21 {
  padding: 21px !important;
}

.padding-22 {
  padding: 22px !important;
}

.padding-23 {
  padding: 23px !important;
}

.padding-24 {
  padding: 24px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-26 {
  padding: 26px !important;
}

.padding-27 {
  padding: 27px !important;
}

.padding-28 {
  padding: 28px !important;
}

.padding-29 {
  padding: 29px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-31 {
  padding: 31px !important;
}

.padding-32 {
  padding: 32px !important;
}

.padding-33 {
  padding: 33px !important;
}

.padding-34 {
  padding: 34px !important;
}

.padding-35 {
  padding: 35px !important;
}

.padding-36 {
  padding: 36px !important;
}

.padding-37 {
  padding: 37px !important;
}

.padding-38 {
  padding: 38px !important;
}

.padding-39 {
  padding: 39px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-41 {
  padding: 41px !important;
}

.padding-42 {
  padding: 42px !important;
}

.padding-43 {
  padding: 43px !important;
}

.padding-44 {
  padding: 44px !important;
}

.padding-45 {
  padding: 45px !important;
}

.padding-46 {
  padding: 46px !important;
}

.padding-47 {
  padding: 47px !important;
}

.padding-48 {
  padding: 48px !important;
}

.padding-49 {
  padding: 49px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-51 {
  padding: 51px !important;
}

.padding-52 {
  padding: 52px !important;
}

.padding-53 {
  padding: 53px !important;
}

.padding-54 {
  padding: 54px !important;
}

.padding-55 {
  padding: 55px !important;
}

.padding-56 {
  padding: 56px !important;
}

.padding-57 {
  padding: 57px !important;
}

.padding-58 {
  padding: 58px !important;
}

.padding-59 {
  padding: 59px !important;
}

.padding-60 {
  padding: 60px !important;
}

.padding-61 {
  padding: 61px !important;
}

.padding-62 {
  padding: 62px !important;
}

.padding-63 {
  padding: 63px !important;
}

.padding-64 {
  padding: 64px !important;
}

.padding-65 {
  padding: 65px !important;
}

.padding-66 {
  padding: 66px !important;
}

.padding-67 {
  padding: 67px !important;
}

.padding-68 {
  padding: 68px !important;
}

.padding-69 {
  padding: 69px !important;
}

.padding-70 {
  padding: 70px !important;
}

.padding-71 {
  padding: 71px !important;
}

.padding-72 {
  padding: 72px !important;
}

.padding-73 {
  padding: 73px !important;
}

.padding-74 {
  padding: 74px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-76 {
  padding: 76px !important;
}

.padding-77 {
  padding: 77px !important;
}

.padding-78 {
  padding: 78px !important;
}

.padding-79 {
  padding: 79px !important;
}

.padding-80 {
  padding: 80px !important;
}

.padding-81 {
  padding: 81px !important;
}

.padding-82 {
  padding: 82px !important;
}

.padding-83 {
  padding: 83px !important;
}

.padding-84 {
  padding: 84px !important;
}

.padding-85 {
  padding: 85px !important;
}

.padding-86 {
  padding: 86px !important;
}

.padding-87 {
  padding: 87px !important;
}

.padding-88 {
  padding: 88px !important;
}

.padding-89 {
  padding: 89px !important;
}

.padding-90 {
  padding: 90px !important;
}

.padding-91 {
  padding: 91px !important;
}

.padding-92 {
  padding: 92px !important;
}

.padding-93 {
  padding: 93px !important;
}

.padding-94 {
  padding: 94px !important;
}

.padding-95 {
  padding: 95px !important;
}

.padding-96 {
  padding: 96px !important;
}

.padding-97 {
  padding: 97px !important;
}

.padding-98 {
  padding: 98px !important;
}

.padding-99 {
  padding: 99px !important;
}

.padding-100 {
  padding: 100px !important;
}

.margin-left-right-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.margin-left-right-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.margin-left-right-3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.margin-left-right-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.margin-left-right-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.margin-left-right-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.margin-left-right-7 {
  margin-left: 7px !important;
  margin-right: 7px !important;
}

.margin-left-right-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.margin-left-right-9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}

.margin-left-right-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.margin-left-right-11 {
  margin-left: 11px !important;
  margin-right: 11px !important;
}

.margin-left-right-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.margin-left-right-13 {
  margin-left: 13px !important;
  margin-right: 13px !important;
}

.margin-left-right-14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}

.margin-left-right-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.margin-left-right-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.margin-left-right-17 {
  margin-left: 17px !important;
  margin-right: 17px !important;
}

.margin-left-right-18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.margin-left-right-19 {
  margin-left: 19px !important;
  margin-right: 19px !important;
}

.margin-left-right-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.margin-left-right-21 {
  margin-left: 21px !important;
  margin-right: 21px !important;
}

.margin-left-right-22 {
  margin-left: 22px !important;
  margin-right: 22px !important;
}

.margin-left-right-23 {
  margin-left: 23px !important;
  margin-right: 23px !important;
}

.margin-left-right-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.margin-left-right-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.margin-left-right-26 {
  margin-left: 26px !important;
  margin-right: 26px !important;
}

.margin-left-right-27 {
  margin-left: 27px !important;
  margin-right: 27px !important;
}

.margin-left-right-28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}

.margin-left-right-29 {
  margin-left: 29px !important;
  margin-right: 29px !important;
}

.margin-left-right-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.margin-left-right-31 {
  margin-left: 31px !important;
  margin-right: 31px !important;
}

.margin-left-right-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.margin-left-right-33 {
  margin-left: 33px !important;
  margin-right: 33px !important;
}

.margin-left-right-34 {
  margin-left: 34px !important;
  margin-right: 34px !important;
}

.margin-left-right-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.margin-left-right-36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}

.margin-left-right-37 {
  margin-left: 37px !important;
  margin-right: 37px !important;
}

.margin-left-right-38 {
  margin-left: 38px !important;
  margin-right: 38px !important;
}

.margin-left-right-39 {
  margin-left: 39px !important;
  margin-right: 39px !important;
}

.margin-left-right-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.margin-left-right-41 {
  margin-left: 41px !important;
  margin-right: 41px !important;
}

.margin-left-right-42 {
  margin-left: 42px !important;
  margin-right: 42px !important;
}

.margin-left-right-43 {
  margin-left: 43px !important;
  margin-right: 43px !important;
}

.margin-left-right-44 {
  margin-left: 44px !important;
  margin-right: 44px !important;
}

.margin-left-right-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.margin-left-right-46 {
  margin-left: 46px !important;
  margin-right: 46px !important;
}

.margin-left-right-47 {
  margin-left: 47px !important;
  margin-right: 47px !important;
}

.margin-left-right-48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.margin-left-right-49 {
  margin-left: 49px !important;
  margin-right: 49px !important;
}

.margin-left-right-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.margin-left-right-51 {
  margin-left: 51px !important;
  margin-right: 51px !important;
}

.margin-left-right-52 {
  margin-left: 52px !important;
  margin-right: 52px !important;
}

.margin-left-right-53 {
  margin-left: 53px !important;
  margin-right: 53px !important;
}

.margin-left-right-54 {
  margin-left: 54px !important;
  margin-right: 54px !important;
}

.margin-left-right-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.margin-left-right-56 {
  margin-left: 56px !important;
  margin-right: 56px !important;
}

.margin-left-right-57 {
  margin-left: 57px !important;
  margin-right: 57px !important;
}

.margin-left-right-58 {
  margin-left: 58px !important;
  margin-right: 58px !important;
}

.margin-left-right-59 {
  margin-left: 59px !important;
  margin-right: 59px !important;
}

.margin-left-right-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.margin-left-right-61 {
  margin-left: 61px !important;
  margin-right: 61px !important;
}

.margin-left-right-62 {
  margin-left: 62px !important;
  margin-right: 62px !important;
}

.margin-left-right-63 {
  margin-left: 63px !important;
  margin-right: 63px !important;
}

.margin-left-right-64 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.margin-left-right-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.margin-left-right-66 {
  margin-left: 66px !important;
  margin-right: 66px !important;
}

.margin-left-right-67 {
  margin-left: 67px !important;
  margin-right: 67px !important;
}

.margin-left-right-68 {
  margin-left: 68px !important;
  margin-right: 68px !important;
}

.margin-left-right-69 {
  margin-left: 69px !important;
  margin-right: 69px !important;
}

.margin-left-right-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.margin-left-right-71 {
  margin-left: 71px !important;
  margin-right: 71px !important;
}

.margin-left-right-72 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.margin-left-right-73 {
  margin-left: 73px !important;
  margin-right: 73px !important;
}

.margin-left-right-74 {
  margin-left: 74px !important;
  margin-right: 74px !important;
}

.margin-left-right-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.margin-left-right-76 {
  margin-left: 76px !important;
  margin-right: 76px !important;
}

.margin-left-right-77 {
  margin-left: 77px !important;
  margin-right: 77px !important;
}

.margin-left-right-78 {
  margin-left: 78px !important;
  margin-right: 78px !important;
}

.margin-left-right-79 {
  margin-left: 79px !important;
  margin-right: 79px !important;
}

.margin-left-right-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.margin-left-right-81 {
  margin-left: 81px !important;
  margin-right: 81px !important;
}

.margin-left-right-82 {
  margin-left: 82px !important;
  margin-right: 82px !important;
}

.margin-left-right-83 {
  margin-left: 83px !important;
  margin-right: 83px !important;
}

.margin-left-right-84 {
  margin-left: 84px !important;
  margin-right: 84px !important;
}

.margin-left-right-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.margin-left-right-86 {
  margin-left: 86px !important;
  margin-right: 86px !important;
}

.margin-left-right-87 {
  margin-left: 87px !important;
  margin-right: 87px !important;
}

.margin-left-right-88 {
  margin-left: 88px !important;
  margin-right: 88px !important;
}

.margin-left-right-89 {
  margin-left: 89px !important;
  margin-right: 89px !important;
}

.margin-left-right-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.margin-left-right-91 {
  margin-left: 91px !important;
  margin-right: 91px !important;
}

.margin-left-right-92 {
  margin-left: 92px !important;
  margin-right: 92px !important;
}

.margin-left-right-93 {
  margin-left: 93px !important;
  margin-right: 93px !important;
}

.margin-left-right-94 {
  margin-left: 94px !important;
  margin-right: 94px !important;
}

.margin-left-right-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.margin-left-right-96 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.margin-left-right-97 {
  margin-left: 97px !important;
  margin-right: 97px !important;
}

.margin-left-right-98 {
  margin-left: 98px !important;
  margin-right: 98px !important;
}

.margin-left-right-99 {
  margin-left: 99px !important;
  margin-right: 99px !important;
}

.margin-left-right-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.font-size-1 {
  font-size: 1px !important;
}

.font-size-2 {
  font-size: 2px !important;
}

.font-size-3 {
  font-size: 3px !important;
}

.font-size-4 {
  font-size: 4px !important;
}

.font-size-5 {
  font-size: 5px !important;
}

.font-size-6 {
  font-size: 6px !important;
}

.font-size-7 {
  font-size: 7px !important;
}

.font-size-8 {
  font-size: 8px !important;
}

.font-size-9 {
  font-size: 9px !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-17 {
  font-size: 17px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-19 {
  font-size: 19px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-21 {
  font-size: 21px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-23 {
  font-size: 23px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-25 {
  font-size: 25px !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-27 {
  font-size: 27px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-29 {
  font-size: 29px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.font-size-31 {
  font-size: 31px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.font-size-33 {
  font-size: 33px !important;
}

.font-size-34 {
  font-size: 34px !important;
}

.font-size-35 {
  font-size: 35px !important;
}

.font-size-36 {
  font-size: 36px !important;
}

.font-size-37 {
  font-size: 37px !important;
}

.font-size-38 {
  font-size: 38px !important;
}

.font-size-39 {
  font-size: 39px !important;
}

.font-size-40 {
  font-size: 40px !important;
}

.font-size-41 {
  font-size: 41px !important;
}

.font-size-42 {
  font-size: 42px !important;
}

.font-size-43 {
  font-size: 43px !important;
}

.font-size-44 {
  font-size: 44px !important;
}

.font-size-45 {
  font-size: 45px !important;
}

.font-size-46 {
  font-size: 46px !important;
}

.font-size-47 {
  font-size: 47px !important;
}

.font-size-48 {
  font-size: 48px !important;
}

.font-size-49 {
  font-size: 49px !important;
}

.font-size-50 {
  font-size: 50px !important;
}

.font-size-51 {
  font-size: 51px !important;
}

.font-size-52 {
  font-size: 52px !important;
}

.font-size-53 {
  font-size: 53px !important;
}

.font-size-54 {
  font-size: 54px !important;
}

.font-size-55 {
  font-size: 55px !important;
}

.font-size-56 {
  font-size: 56px !important;
}

.font-size-57 {
  font-size: 57px !important;
}

.font-size-58 {
  font-size: 58px !important;
}

.font-size-59 {
  font-size: 59px !important;
}

.font-size-60 {
  font-size: 60px !important;
}

.font-size-61 {
  font-size: 61px !important;
}

.font-size-62 {
  font-size: 62px !important;
}

.font-size-63 {
  font-size: 63px !important;
}

.font-size-64 {
  font-size: 64px !important;
}

.font-size-65 {
  font-size: 65px !important;
}

.font-size-66 {
  font-size: 66px !important;
}

.font-size-67 {
  font-size: 67px !important;
}

.font-size-68 {
  font-size: 68px !important;
}

.font-size-69 {
  font-size: 69px !important;
}

.font-size-70 {
  font-size: 70px !important;
}

.font-size-71 {
  font-size: 71px !important;
}

.font-size-72 {
  font-size: 72px !important;
}

.font-size-73 {
  font-size: 73px !important;
}

.font-size-74 {
  font-size: 74px !important;
}

.font-size-75 {
  font-size: 75px !important;
}

.font-size-76 {
  font-size: 76px !important;
}

.font-size-77 {
  font-size: 77px !important;
}

.font-size-78 {
  font-size: 78px !important;
}

.font-size-79 {
  font-size: 79px !important;
}

.font-size-80 {
  font-size: 80px !important;
}

.font-size-81 {
  font-size: 81px !important;
}

.font-size-82 {
  font-size: 82px !important;
}

.font-size-83 {
  font-size: 83px !important;
}

.font-size-84 {
  font-size: 84px !important;
}

.font-size-85 {
  font-size: 85px !important;
}

.font-size-86 {
  font-size: 86px !important;
}

.font-size-87 {
  font-size: 87px !important;
}

.font-size-88 {
  font-size: 88px !important;
}

.font-size-89 {
  font-size: 89px !important;
}

.font-size-90 {
  font-size: 90px !important;
}

.font-size-91 {
  font-size: 91px !important;
}

.font-size-92 {
  font-size: 92px !important;
}

.font-size-93 {
  font-size: 93px !important;
}

.font-size-94 {
  font-size: 94px !important;
}

.font-size-95 {
  font-size: 95px !important;
}

.font-size-96 {
  font-size: 96px !important;
}

.font-size-97 {
  font-size: 97px !important;
}

.font-size-98 {
  font-size: 98px !important;
}

.font-size-99 {
  font-size: 99px !important;
}

.font-size-100 {
  font-size: 100px !important;
}

.mx-panel-date > thead > tr > th,
.mx-panel-date > tbody > tr > td {
  text-align: -webkit-match-parent;
}

.left-20-percent {
  margin-left: 20%;
}

.left-40-percent {
  margin-left: 40%;
}

.has-cursor-default {
  cursor: default !important;
}

.has-cursor-pointer {
  cursor: pointer !important;
}

.padding-4 {
  padding-top: 4px !important;
}

.icon-space-right {
  margin-right: 5px;
}

.icon-space-left {
  margin-left: 5px;
}

.no-padding-right {
  padding-right: 0;
}
