<footer class="img-rounded footer color-text-white col-md-offset-3 col-sm-offset-3 col-lg-offset-3" ng-if="tagList.length>0">
    <div class="col-md-9 row">
        <div class="col-md-2">Search for</div>
        <div class="col-md-10">
            <span ng-repeat="tag in tagList" class="label label-default right-5 hand-cursor search-label" ng-click="removeTag(tag)">
                {{tag.getName()}}
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary" ng-click="runTagSearch()">Search</button>
        <button type="submit" class="btn btn-primary" ng-click="clearTagSearch()">Clear</button>
    </div>
</footer>