<div class="col-md-2 col-lg-2">
    <ul class="nav nav-pills nav-stacked">
        <li ng-if="!isSearchResult" role="presentation" ng-class="{'active': selectedMenu == 'project_details'}">
            <a ui-sref="projectDetails">
                <span class="glyphicon glyphicon-dashboard">&nbsp;</span>
                Project Overview
            </a>
        </li>
        {{parentList = []; ""}}

        <li role="presentation" ng-if="!isSearchResult" ng-repeat="category in categoryList;" ng-include="'categoryTree'"></li>
        <li role="presentation" ng-if="isSearchResult" ng-repeat="category in categoryList;" ng-include="'searchCategoryTree'"></li>
    </ul>
</div>

<script type="text/ng-template" id="categoryTree">
    <div ng-if="category.isVisible()">
        <hr>
        <ul class="navigation-margin nav nav-pills nav-stacked">
            <li role="presentation">
                <a ng-click="toggleVisibility(category)">
                    <div class="hand-cursor">
                        <span class="glyphicon glyphicon-folder-open">&nbsp;</span>
                        {{ category.getName() }}
                    </div>
                </a>
            </li>
        </ul>
        <ul class="navigation-margin nav nav-pills nav-stacked" ng-if="category.hasRouteList()">
            <li role="presentation"
                ng-if="visualHelper.isAtLeastOneRouteVisible(category)"
                ng-repeat="route in category.getRouteList()"
                ng-class="{'active': selectedMenu == route.getId()}">
                <a ui-sref="routeDetails({routeId:route.getId(),parents:category.getParentIdList().join('$')})">
                    <p ng-class="'label label-'+visualHelper.getMethodColorByRoute(route)" > {{route.getRequest().getMethod()}}</p>
                    {{route.getName()}}
                    <span ng-if="route.getRequest().needsAuthentication()" class="glyphicon glyphicon-log-in"></span>
                </a>
            </li>
        </ul>
        <ul class="navigation-margin nav nav-pills nav-stacked" ng-if="category.hasCategoryList()">
            <li role="presentation" ng-repeat="category in category.getCategoryList()" ng-include="'categoryTree'"></li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="searchCategoryTree">
    <div ng-if="category.isVisible()">
        <hr>
        <a ng-click="toggleVisibility(category)">
            <div class="hand-cursor">{{ category.getName() }}
                <span class="badge" ng-if="category.hasCategoryList()">{{category.getCategoryListCount()}}</span>
                <span class="badge" ng-if="category.hasRouteList()">{{category.getRouteListCount()}}</span>
            </div>
        </a>
        <ul class="nav nav-pills nav-stacked" ng-if="category.hasCategoryList()">
            <li role="presentation" ng-repeat="category in category.getCategoryList()" ng-include="'searchCategoryTree'">
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked" ng-if="category.hasRouteList()">
            <li role="presentation"
                ng-if="visualHelper.isAtLeastOneRouteVisible(category)"
                ng-repeat="route in category.getRouteList()"
                ng-class="{'active': selectedMenu == route.getId()}">
                <a ui-sref="tagSearchRouteDetails({routeId:route.getId(),parents:category.getParentIdList().join('$')})">
                    <p ng-class="'label label-'+visualHelper.getMethodColorByRoute(route)" > {{route.getRequest().getMethod()}}</p>
                    {{route.getName()}}
                    <span ng-if="route.getRequest().needsAuthentication()" class="glyphicon glyphicon-exclamation-sign"></span>
                </a>
            </li>
        </ul>
    </div>
</script>