<div class="row col-md-10 col-lg-10">
    <div class="col-md-6">
        <!--<ol class="breadcrumb">-->
            <!--<li><a href="#">[Route_category]</a></li>-->
            <!--<li class="active">[Route_name]</li>-->
        <!--</ol>-->
        <h2>
            <span ng-class="'label right-5 label-'+visualHelper.getMethodColorByRoute(route)">{{route.getRequest().getMethod()}}</span>{{route.getName()}}
        </h2>
        <div class="span6 offset1">
            <h3>Url</h3>
            <blockquote>
                <p>{{route.getRequest().getUrl()}}</p>
            </blockquote>
            <h3>Description</h3>
            <p class="bg-warning">{{route.getDescription()}}</p>
            <div ng-if="route.getRequest().hasUriParameterList()">
                <h3>Route parameters</h3>
                <table class="table table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Optional</th>
                        <th>Example</th>
                    </tr>
                    <tr ng-repeat="parameter in route.getRequest().getUriParameterList()">
                        <td>{{parameter.getName()}}</td>
                        <td>{{parameter.getDescription()}}</td>
                        <td>{{parameter.getType()}} / {{parameter.getDataType()}}</td>
                        <td>{{parameter.isOptional()}}</td>
                        <td>{{parameter.getExampleData()}}</td>
                    </tr>
                </table>
            </div>
            <div ng-if="route.getRequest().hasPostParameterList()">
                <h3>Route parameters</h3>
                <table class="table table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Optional</th>
                        <th>Default</th>
                        <th>Example</th>
                    </tr>
                    <tr ng-repeat="parameter in route.getRequest().getPostParameterList()">
                        <td ng-if="!parameter.isFile()">{{parameter.getName()}}</td>
                        <td ng-if="parameter.isFile()">
                            <a ng-href="{{getDownloadLink(parameter)}}">
                                <span class="glyphicon glyphicon-download"></span>
                                {{parameter.getName()}}
                            </a>
                        </td>
                        <td>{{parameter.getDescription()}}</td>
                        <td>{{parameter.getType()}} / {{parameter.getDataType()}}</td>
                        <td>{{parameter.isOptional()}}</td>
                        <td ng-if="parameter.hasDefaultValue()">{{parameter.getDefaultValue()}}</td>
                        <td ng-if="!parameter.hasDefaultValue()">No</td>
                        <td ng-if="!parameter.isFile()">{{parameter.getExampleData()}}</td>
                        <td ng-if="parameter.isFile()">
                            <input type="file" onchange="angular.element(this).scope().fileSelected(this, angular.element(this).scope().parameter.getName())" />
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="route.hasStatusCodes()">
                <h3>Status codes</h3>
                <table class="table table-condensed">
                    <tr>
                        <th>Status</th>
                        <th>Message</th>
                        <th>Description</th>
                    </tr>
                    <tr ng-repeat="status in route.getStatusCodeList()">
                        <td>{{ status.getCode() }}</td>
                        <td>{{ status.getMessage() }}</td>
                        <td>{{ status.getDescription() }}</td>
                    </tr>
                </table>
            </div>
            <div ng-if="route.hasTagList()" class="">
                <h3 class="">Tags</h3>
                <div class="">
                    <span ng-repeat="tag in route.getTagList()" class="label label-default right-5 hand-cursor" ng-click="addTag(tag)">
                        {{tag.getName()}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 right-content">
        <h2>Sandbox URL</h2>
        <blockquote>
            <p ng-bind-html="sandboxRoute.getRequest().getUrl() | trust"></p>
        </blockquote>

        <form>
            <div ng-if="sandboxRoute.getRequest().hasUriParameterList()">
                <h3>Route params</h3>
                <div ng-repeat="uriParam in sandboxRouteUriList" class="form-group row">
                    <input type="checkbox" class="col-sm-1 col-form-label"
                           ng-model="uriParam.enabled"
                           ng-change="parseUrl()"
                           ng-disabled="uriParam.required"
                    />
                    <label class="col-sm-2 col-form-label">{{uriParam.name}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{uriParam.name}}"
                               ng-model="uriParam.value"
                               ng-change="parseUrl()"
                               ng-disabled="!uriParam.enabled"
                        >
                    </div>
                </div>
                <hr>
            </div>

            <div ng-if="sandboxRoute.getRequest().hasPostParameterList()">
                <h3>Route parameters</h3>
                <div ng-repeat="postPram in sandboxRoutePostList" class="form-group row">
                    <input type="checkbox" class="col-sm-1 col-form-label"
                           ng-model="postPram.enabled"
                           ng-change="checkDefaultValue(postPram)"
                           ng-disabled="postPram.required"
                    />
                    <label ng-class="(postPram.hasName) ? 'col-sm-2 col-form-label' : 'col-form-label'">{{postPram.name}}</label>
                    <div ng-class="(postPram.hasName) ? 'col-sm-9' : 'col-sm-11'">
                        <textarea rows="3" class="form-control" placeholder="{{postPram.name}}"
                               ng-if="!postPram.hasListValues && postPram.isJson"
                               ng-model="postPram.value"
                               ng-disabled="!postPram.enabled"
                        ></textarea>
                        <input type="text" class="form-control" placeholder="{{postPram.name}}"
                               ng-if="!postPram.hasListValues && !postPram.isJson && !postPram.isFile"
                               ng-model="postPram.value"
                               ng-disabled="!postPram.enabled"
                        >
                        <input type="file"
                               ng-if="postPram.isFile"
                               ng-disabled="!postPram.enabled"
                               onchange="angular.element(this).scope().fileSelectedSandbox(this, angular.element(this).scope().postPram.name)" />
                        <select class="form-control"
                                ng-if="postPram.hasListValues"
                                ng-model="postPram.value"
                                ng-disabled="!postPram.enabled">
                            <option ng-repeat="values in postPram.listValues" value="{{values.value}}">{{values.value}}</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="runSandbox(sandboxRoute,sandboxRoutePostList)">Run</button>
            <button type="submit" class="btn btn-primary" ng-click="resetSandbox()">Reset</button>
        </form>

        <div class="panel panel-primary top-20">
            <div class="panel-heading">
                <h3 class="panel-title panel-primary">Output Response</h3>
            </div>
            <h3 ng-if="sandboxOutput.getStatusCode() != null">Status: {{sandboxOutput.getStatusCode()}}</h3>
            <json-formatter class="panel-body sandbox_output_example" json=sandboxOutput.getData() open="1"></json-formatter>
        </div>
        <div class="panel panel-primary top-20">
            <div class="panel-heading">
                <h3 class="panel-title panel-primary">Output Headers</h3>
            </div>
            <json-formatter class="panel-body sandbox_output_example" json=sandboxOutput.getResponseHeaders() open="1"></json-formatter>
        </div>
    </div>
</div>